# -*- mode: snippet -*-
# name: Model Comment
# uuid: modc
# key: modc
# condition: t
# --
##
# Constants
#

##
# Attributes
#

##
# Extensions
#

##
# Associations
#

##
# Validations
#

##
# Callbacks
#

##
# Scopes
#

##
# Class methods
#

##
# Instance methods
#
